{
    "extends": ["@mitsue", "plugin:@typescript-eslint/recommended"],
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "multiline-comment-style": 0,
        "lines-between-class-members":  [2, "always", { "exceptAfterSingleLine": true }],
        "require-unicode-regexp": 0
    }
}
