@use "../../_common/" as *;

.str {
  &-footer {
    &__sns-ul {
      &-ul {
        display: flex;
        justify-content: center;
      }
    }

    &__list {
      &-ul {
        display: flex;
      }
    }
  }
}
