@charset "UTF-8";

.MLC_MODULE_MARKDOWN_IS_PARSED h1 ,
.MLC_MODULE_MARKDOWN_IS_PARSED h2 ,
.MLC_MODULE_MARKDOWN_IS_PARSED h3 ,
.MLC_MODULE_MARKDOWN_IS_PARSED h4 ,
.MLC_MODULE_MARKDOWN_IS_PARSED h5 ,
.MLC_MODULE_MARKDOWN_IS_PARSED h6 {
  font-weight: bold !important;
  margin: 1.5em 0 16px !important;
}

.MLC_MODULE_MARKDOWN_IS_PARSED h1 code ,
.MLC_MODULE_MARKDOWN_IS_PARSED h2 code ,
.MLC_MODULE_MARKDOWN_IS_PARSED h3 code ,
.MLC_MODULE_MARKDOWN_IS_PARSED h4 code ,
.MLC_MODULE_MARKDOWN_IS_PARSED h5 code ,
.MLC_MODULE_MARKDOWN_IS_PARSED h6 code {
  font-size: inherit !important;
}

.MLC_MODULE_MARKDOWN_IS_PARSED h1 {
  font-size: 2em !important;
  padding-bottom: 7px !important;
  border-bottom: 1px solid #ccc !important;
}

.MLC_MODULE_MARKDOWN_IS_PARSED h2 {
  font-size: 1.7em !important;
  padding-bottom: 5px !important;
  border-bottom: 1px solid #ccc !important;
}

.MLC_MODULE_MARKDOWN_IS_PARSED h3 {
  font-size: 1.5em !important;
}

.MLC_MODULE_MARKDOWN_IS_PARSED h4 {
  font-size: 1.2em !important;
}

.MLC_MODULE_MARKDOWN_IS_PARSED h5 ,
.MLC_MODULE_MARKDOWN_IS_PARSED h6 {
  font-size: 1em !important;
}

.MLC_MODULE_MARKDOWN_IS_PARSED p ,
.MLC_MODULE_MARKDOWN_IS_PARSED blockquote ,
.MLC_MODULE_MARKDOWN_IS_PARSED ul ,
.MLC_MODULE_MARKDOWN_IS_PARSED ol ,
.MLC_MODULE_MARKDOWN_IS_PARSED dl ,
.MLC_MODULE_MARKDOWN_IS_PARSED table ,
.MLC_MODULE_MARKDOWN_IS_PARSED pre {
  margin: 0 0 16px !important;
}

.MLC_MODULE_MARKDOWN_IS_PARSED p {
  white-space: pre-line !important;
}

.MLC_MODULE_MARKDOWN_IS_PARSED hr {
  background: #ccc !important;
  height: 2px !important;
  margin: 20px 0 !important;
  border: 0 !important;
}

.MLC_MODULE_MARKDOWN_IS_PARSED ul ,
.MLC_MODULE_MARKDOWN_IS_PARSED ol {
  padding-left: 2em !important;
}

.MLC_MODULE_MARKDOWN_IS_PARSED ul > li {
  list-style-type: disc !important;
}

.MLC_MODULE_MARKDOWN_IS_PARSED ol > li {
  list-style-type: decimal !important;
}

.MLC_MODULE_MARKDOWN_IS_PARSED ul ul ,
.MLC_MODULE_MARKDOWN_IS_PARSED ul ol ,
.MLC_MODULE_MARKDOWN_IS_PARSED ol ol ,
.MLC_MODULE_MARKDOWN_IS_PARSED ol ul {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.MLC_MODULE_MARKDOWN_IS_PARSED li > p {
  margin-top: 10px !important;
}

.MLC_MODULE_MARKDOWN_IS_PARSED dl {
  padding: 0 !important;
}

.MLC_MODULE_MARKDOWN_IS_PARSED dl dt {
  font-weight: bold !important;
  font-style: normal !important;
  margin-top: 16px !important;
  padding: 0 !important;
}

.MLC_MODULE_MARKDOWN_IS_PARSED dl dd {
  padding: 0 0 0 16px !important;
}

.MLC_MODULE_MARKDOWN_IS_PARSED blockquote {
  color: #666 !important;
  background: #eee !important;
  padding: 10px 15px !important;
  border-left: 4px solid #ccc !important;
}

.MLC_MODULE_MARKDOWN_IS_PARSED blockquote > :first-child {
  margin-top: 0 !important;
}

.MLC_MODULE_MARKDOWN_IS_PARSED blockquote > :last-child {
  margin-bottom: 0 !important;
}

.MLC_MODULE_MARKDOWN_IS_PARSED table {
  word-break: keep-all !important;
  width: 100% !important;
  border-spacing: 0 !important;
  border-collapse: collapse !important;
}

.MLC_MODULE_MARKDOWN_IS_PARSED table th {
  font-weight: bold !important;
}

.MLC_MODULE_MARKDOWN_IS_PARSED table th ,
.MLC_MODULE_MARKDOWN_IS_PARSED table td {
  background-color: #fff !important;
  padding: 7px 10px !important;
  border: 1px solid #ccc !important;
}

.MLC_MODULE_MARKDOWN_IS_PARSED table tr:nth-child(odd) {
  background-color: #fafafa !important;
}

.MLC_MODULE_MARKDOWN_IS_PARSED img {
  box-sizing: border-box !important;
  max-width: 100% !important;
}

.MLC_MODULE_MARKDOWN_IS_PARSED code {
  font-family: monospace !important;
  font-size: 90% !important;
  letter-spacing: .3px !important;
  background: #eaeaea !important;
  margin: 0 2px;
  padding: 2px 4px !important;
  border-radius: 3px !important;
}

.MLC_MODULE_MARKDOWN_IS_PARSED code br {
  display: none !important;
}

.MLC_MODULE_MARKDOWN_IS_PARSED del code {
  text-decoration: inherit !important;
}

.MLC_MODULE_MARKDOWN_IS_PARSED pre {
  word-wrap: normal !important;
}

.MLC_MODULE_MARKDOWN_IS_PARSED pre code {
  font-size: 100% !important;
  line-height: inherit !important;
  white-space: pre !important;
  word-wrap: normal !important;
  word-break: normal !important;
  background: #eee !important;
  display: block !important;
  overflow: auto !important;
  max-width: initial !important;
  padding: 10px 5px !important;
  border: 0 !important;
}

.MLC_MODULE_MARKDOWN_IS_PARSED a {
  text-decoration: underline !important;
  color: #33d !important;
}

.MLC_MODULE_MARKDOWN_IS_PARSED a:hover ,
.MLC_MODULE_MARKDOWN_IS_PARSED a:focus {
  color: #6665ea !important;
}

.MLC_MODULE_MARKDOWN_IS_PARSED > *:first-child {
  margin-top: 0 !important;
}

.MLC_MODULE_MARKDOWN_IS_PARSED > *:last-child {
  margin-bottom: 0 !important;
}
