/*! For license information please see main.js.LICENSE.txt */
/*!****************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./_dev/sass/main.scss ***!
  \****************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
/*! sanitize.css | CC0 Public Domain | https://github.com/csstools/sanitize.css */
*,
::before,
::after {
  box-sizing: border-box;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html {
  cursor: default;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

hr {
  height: 0;
  overflow: visible;
}

main {
  display: block;
}

nav ol,
nav ul {
  list-style: none;
  padding: 0;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

iframe {
  border-style: none;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
select {
  margin: 0;
}

button {
  overflow: visible;
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

fieldset {
  border: 1px solid #a0a0a0;
  padding: 0.35em 0.75em 0.625em;
}

input {
  overflow: visible;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

select {
  text-transform: none;
}

textarea {
  margin: 0;
  overflow: auto;
  resize: vertical;
}

[type=checkbox],
[type=radio] {
  padding: 0;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

details {
  display: block;
}

dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

[hidden] {
  display: none;
}

[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled=true],
[disabled] {
  cursor: not-allowed;
}

[aria-hidden=false][hidden] {
  display: initial;
}

[aria-hidden=false][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

@keyframes mvAnimation {
  100% {
    display: block;
  }
}
@keyframes menuCloseAnimation {
  0% {
    width: 36px;
    height: 36px;
    transform: scale(80);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes menuFadeInAnimation {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes menuCloseFadeInAnimation {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(10px);
    opacity: 0;
  }
}
@keyframes historyExtendLineAnimation {
  0% {
    height: 0;
  }
  100% {
    height: calc(100% - 80px);
  }
}
@keyframes historyFadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes mvCarouselChangeAnimation {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(10);
  }
}
@keyframes mvCarouselAnimation {
  0% {
    clip-path: circle(0% at 50% 50%);
    opacity: 1;
  }
  100% {
    clip-path: circle(100% at 50% 50%);
    opacity: 1;
  }
}
@keyframes pickUpAnimation {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes menuSlideLeftInAnimation {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes menuSlideRightInAnimation {
  0% {
    transform: translateX(10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes businessToggleAnimation {
  0% {
    display: block;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes cardAnimation {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  line-height: 1.6;
  overflow-x: hidden;
  font-size: 1.6rem;
}
@media print, screen and (max-width: 768px) {
  body {
    font-size: 1.4rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
dl,
dt,
dd,
button {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

sup,
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -5px;
}

ul li,
ol li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

@media print, screen and (min-width: 1025px) {
  .pc-hidden {
    display: none;
  }
}

@media print, screen and (max-width: 768px) {
  .sp-hidden {
    display: none;
  }
}

.al-center {
  text-align: center;
}
@media print, screen and (min-width: 769px) {
  .al-center {
    margin-top: 42px;
  }
}
@media print, screen and (max-width: 768px) {
  .al-center {
    margin-top: 24px;
  }
}

header {
  z-index: 100;
}
[data-script-enabled=true] header {
  position: sticky;
  top: 0;
  left: 0;
}

.mv {
  width: 100%;
  height: 100vh;
}
.mv__content {
  position: relative;
  width: 100%;
  height: 100%;
}
.mv__animation-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.mv__animation-wrap--text {
  color: #222a38;
  font-family: "Noto Serif JP", serif;
  font-size: 0.8rem;
}

.nav-list-contents .header-icon-arrow-a {
  transition: 0.3s;
  transform: translateY(1px);
}

.icon-mypage-a {
  width: 13px;
  height: 18px;
  z-index: 10;
}
@media print, screen and (max-width: 1024px) {
  .icon-mypage-a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.icon-entry-a {
  width: 16px;
  height: 18px;
  z-index: 10;
}
@media print, screen and (max-width: 1024px) {
  .icon-entry-a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.icon-feature-a {
  width: 44.32px;
  height: 63.94px;
}

.icon-feature-b {
  width: 64px;
  height: 57px;
}

.icon-window-a {
  display: inline-block;
  width: 10px;
  height: 8px;
  margin-left: 4px;
}

.icon-window-b {
  width: 32px;
  height: 32px;
}

@media print, screen and (min-width: 769px) {
  .icon-career-a {
    width: 46px;
    height: 39px;
  }
}
@media print, screen and (max-width: 768px) {
  .icon-career-a {
    width: 32px;
    height: 28px;
  }
}

@media print, screen and (min-width: 769px) {
  .icon-person-a {
    width: 70px;
    height: 60px;
  }
}
@media print, screen and (max-width: 768px) {
  .icon-person-a {
    width: 56px;
    height: 48px;
  }
}

@media print, screen and (min-width: 769px) {
  .icon-person-b {
    width: 58px;
    height: 70px;
  }
}
@media print, screen and (max-width: 768px) {
  .icon-person-b {
    width: 47px;
    height: 56px;
  }
}

@media print, screen and (min-width: 769px) {
  .icon-person-c {
    width: 70px;
    height: 65px;
  }
}
@media print, screen and (max-width: 768px) {
  .icon-person-c {
    width: 56px;
    height: 53px;
  }
}

.txt-person-a {
  position: absolute;
  top: 20px;
  left: 20px;
}
@media print, screen and (min-width: 769px) {
  .txt-person-a {
    width: 240px;
  }
}
@media print, screen and (max-width: 768px) {
  .txt-person-a {
    width: 120px;
  }
}

@media print, screen and (min-width: 769px) {
  .txt-special-a {
    width: 240px;
  }
}
@media print, screen and (max-width: 768px) {
  .txt-special-a {
    width: 180px;
  }
}

.txt-lead-b img {
  margin: 0 auto;
}
@media print, screen and (min-width: 769px) {
  .txt-lead-b {
    padding: 120px 20px;
  }
  .txt-lead-b img {
    max-width: 700px;
  }
}
@media print, screen and (max-width: 768px) {
  .txt-lead-b {
    padding: 56px 20px;
  }
  .txt-lead-b img {
    max-width: 340px;
  }
}

.str-footer__sns-ul-ul {
  display: flex;
  justify-content: center;
}
.str-footer__list-ul {
  display: flex;
}

.carousel-arrow {
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 50px;
  height: 50px;
  background: none;
  border-radius: 50%;
}
.carousel-arrow::after {
  display: none;
}
.carousel-recommend .carousel-arrow.swiper-button-prev, .carousel-recommend .carousel-arrow.swiper-button-next {
  bottom: 0;
  top: auto;
}
.carousel-recommend .carousel-arrow.swiper-button-prev .arrow, .carousel-recommend .carousel-arrow.swiper-button-next .arrow {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  width: 28px;
  height: 40px;
  overflow: hidden;
}
.carousel-recommend .carousel-arrow.swiper-button-prev .arrow::before, .carousel-recommend .carousel-arrow.swiper-button-prev .arrow::after, .carousel-recommend .carousel-arrow.swiper-button-next .arrow::before, .carousel-recommend .carousel-arrow.swiper-button-next .arrow::after {
  display: block;
  position: absolute;
  content: "";
  width: 15px;
  height: 3px;
  top: 50%;
  background: linear-gradient(90deg, rgb(218, 31, 2) 0%, rgb(251, 150, 8) 100%);
  border-radius: 1.5px;
  transition: 0.3s;
}
.carousel-recommend .carousel-arrow.swiper-button-prev {
  position: relative;
  top: 10px;
  left: -20px;
}
.carousel-recommend .carousel-arrow.swiper-button-prev .arrow::before {
  transform: rotate(140deg);
  top: 46%;
  left: 0;
}
.carousel-recommend .carousel-arrow.swiper-button-prev .arrow::after {
  transform: rotate(220deg);
  top: 69%;
  left: 0;
}
.carousel-recommend .carousel-arrow.swiper-button-next {
  position: relative;
  top: 10px;
  right: -45px;
}
.carousel-recommend .carousel-arrow.swiper-button-next .arrow::before {
  transform: rotate(40deg);
  top: 46%;
}
.carousel-recommend .carousel-arrow.swiper-button-next .arrow::after {
  transform: rotate(320deg);
  top: 69%;
}
@media print, screen and (max-width: 768px) {
  .carousel-recommend .carousel-arrow.swiper-button-next .arrow::before {
    transform: rotate(40deg);
    top: 46%;
  }
  .carousel-recommend .carousel-arrow.swiper-button-next .arrow::after {
    transform: rotate(320deg);
    top: 69%;
  }
}
.carousel-top-about .carousel-arrow {
  margin: 0;
  top: -4px;
}
.carousel-top-about .carousel-arrow.swiper-button-prev .arrow, .carousel-top-about .carousel-arrow.swiper-button-next .arrow {
  display: block;
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  width: 25px;
  height: 40px;
  overflow: hidden;
}
.carousel-top-about .carousel-arrow.swiper-button-prev .arrow::before, .carousel-top-about .carousel-arrow.swiper-button-prev .arrow::after, .carousel-top-about .carousel-arrow.swiper-button-next .arrow::before, .carousel-top-about .carousel-arrow.swiper-button-next .arrow::after {
  display: block;
  position: absolute;
  content: "";
  width: 15px;
  height: 3px;
  top: 50%;
  left: 50%;
  background: linear-gradient(90deg, rgb(218, 31, 2) 0%, rgb(251, 150, 8) 100%);
  border-radius: 1.5px;
  transition: 0.3s;
}
.carousel-top-about .carousel-arrow.swiper-button-prev .arrow::before {
  transform: rotate(140deg);
  top: 40%;
  left: 0;
}
.carousel-top-about .carousel-arrow.swiper-button-prev .arrow::after {
  transform: rotate(220deg);
  top: 63%;
  left: 0;
}
.carousel-top-about .carousel-arrow.swiper-button-next .arrow::before {
  transform: rotate(40deg);
  top: 40%;
  left: 10px;
}
.carousel-top-about .carousel-arrow.swiper-button-next .arrow::after {
  transform: rotate(-400deg);
  top: 63%;
  left: 10px;
}

.carousel-play {
  margin: 0 0 0 40px;
}
.carousel-play .btn-carousel-play {
  position: relative;
  width: 1rem;
  height: 1rem;
  display: block;
}
.carousel-play .btn-carousel-play::before, .carousel-play .btn-carousel-play::after {
  display: block;
  position: absolute;
  content: "";
  width: 0;
  height: 1rem;
  top: 0;
  border-left: solid 0.3rem rgb(65, 65, 65);
}
.carousel-play .btn-carousel-play::before {
  left: 0.1rem;
}
.carousel-play .btn-carousel-play::after {
  right: 0.1rem;
}
.carousel-play .btn-carousel-play:hover::before, .carousel-play .btn-carousel-play:hover::after {
  border-left: solid 0.3rem #aaaaaa;
}
.carousel-play .btn-carousel-play.is-pause::before {
  border-left-width: 0.8rem;
  border-bottom: solid 0.5rem transparent;
  border-top: solid 0.5rem transparent;
}
.carousel-play .btn-carousel-play.is-pause::after {
  opacity: 0;
}
.carousel-play .btn-carousel-play .txt {
  position: absolute;
  font-size: 0;
  opacity: 0;
}

[data-script-enabled=true] .carousel-controls {
  max-width: 938px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}
[data-script-enabled=true] .carousel-controls .carousel-play {
  flex-shrink: 0;
  z-index: 10;
}
.carousel-top-about .carousel-controls {
  position: relative;
  padding: 1.8rem 1.5rem 1.5rem;
}
.carousel-recommend .carousel-controls {
  position: relative;
  padding: 1.8rem 1.5rem 1.5rem;
}

.carousel-pagination .swiper-pagination {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-top: -15px;
  margin-left: -18px;
}
.carousel-pagination .swiper-pagination > .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  opacity: 1;
  background: #aaaaaa;
  margin-top: 15px;
  margin-left: 18px;
}
@media print, screen and (min-width: 769px) {
  .carousel-pagination {
    margin-left: 1rem;
  }
  .carousel-pagination .swiper-pagination > .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}

.swiper-wrapper.disabled {
  transform: translate3d(0, 0, 0) !important;
}

.swiper-slide {
  list-style: none;
}
.swiper-slide > a {
  position: relative;
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
}
.carousel-recommend .swiper-slide > a:hover > .img > img, .carousel-recommend .swiper-slide > a:active > .img > img, .carousel-recommend .swiper-slide > a:focus > .img > img {
  transform: scale(1.1);
}
.carousel-recommend .swiper-slide > a:hover > .txt-link-a > .arrow::before, .carousel-recommend .swiper-slide > a:active > .txt-link-a > .arrow::before, .carousel-recommend .swiper-slide > a:focus > .txt-link-a > .arrow::before {
  transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s, opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  opacity: 0;
  transform: translateX(300%);
}
.carousel-recommend .swiper-slide > a:hover > .txt-link-a > .arrow::after, .carousel-recommend .swiper-slide > a:active > .txt-link-a > .arrow::after, .carousel-recommend .swiper-slide > a:focus > .txt-link-a > .arrow::after {
  transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0.1s;
  transform: translateX(0);
}
.carousel-recommend .swiper-slide > a > .txt-content {
  display: inline-block;
  max-width: 260px;
  width: calc(-47px + 120 * (100vw - 320px) / 416);
  min-width: 200px;
  position: absolute;
  top: 70%;
  left: 50%;
  padding: 10px 45px 10px 20px;
  border-radius: 1000px;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.carousel-recommend .swiper-slide > a > .txt-content > .txt-link-a {
  margin: 0;
}
.carousel-recommend .swiper-slide > a > .txt-content > .txt-link-a > .arrow {
  position: absolute;
  top: 50%;
  right: -10px;
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 1000px;
  background: linear-gradient(90deg, rgb(218, 31, 2) 0%, rgb(251, 150, 8) 100%);
  overflow: hidden;
  transform: translate(-50%, -50%);
}
.carousel-recommend .swiper-slide > a > .txt-content > .txt-link-a > .arrow::before, .carousel-recommend .swiper-slide > a > .txt-content > .txt-link-a > .arrow::after {
  display: block;
  position: absolute;
  content: "";
  top: 14px;
  right: 12px;
  width: 8px;
  height: 5px;
}
.carousel-recommend .swiper-slide > a > .txt-content > .txt-link-a > .arrow::after {
  transform: translateX(-300%);
}
.swiper-slide > a > .img > img {
  width: 100%;
  object-fit: cover;
  filter: brightness(0.7);
  transition: 0.3s;
}
@media print, screen and (max-width: 768px) {
  .swiper-slide > a {
    width: 100%;
  }
  .carousel-recommend .swiper-slide > a > .txt-content {
    min-width: 240px;
  }
}

.carousel-top-about {
  position: relative;
  width: 100%;
}
@media print, screen and (min-width: 1025px) {
  .carousel-top-about {
    max-width: 572px;
    min-width: 350px;
  }
}

.js-swiper-recommend-wrap,
.js-swiper-about-wrap {
  overflow: hidden;
}

@media print, screen and (max-width: 768px) {
  .js-swiper-recommend .carousel-arrow.swiper-button-next {
    right: -30px;
  }
  .js-swiper-recommend .carousel-arrow.swiper-button-next > .arrow {
    width: 20px;
    height: 40px;
    right: 0;
  }
  .js-swiper-recommend .carousel-arrow.swiper-button-prev > .arrow {
    width: 20px;
    height: 40px;
    left: 0;
  }
}

[data-script-enabled=true] .js-swiper-recommend-wrap .swiper-container {
  position: static;
}
[data-script-enabled=true] .js-swiper-recommend-wrap .swiper-container .swiper-wrapper .swiper-slide {
  position: relative;
}
[data-script-enabled=true] .js-swiper-recommend-wrap .swiper-container .swiper-wrapper .swiper-slide > a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

/* モーダルjsのスタイル */
[data-script-enabled=true] .js-modal-content {
  display: none;
  opacity: 0;
}
[data-script-enabled=true] .js-modal-content.is-active {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1140px;
  width: calc(100% - 10px);
  max-height: calc(100vh - 130px);
  min-height: 150px;
  height: auto;
  z-index: 1000;
  transform: translateY(-50%) translateX(-50%);
  opacity: 1;
  transition: opacity 0.2s;
}
[data-script-enabled=true] .js-modal-content.is-active .modal-wrap {
  position: relative;
}
[data-script-enabled=true] .js-modal-content.is-active .modal-wrap > .modal {
  display: block;
  width: calc(100% - 10px);
  max-height: calc(100vh - 130px);
  height: 100%;
  overflow: auto;
  margin: 0 auto;
  border-radius: 20px;
  opacity: 1;
  z-index: 101;
}
[data-script-enabled=true] .js-modal-content.is-active .modal-wrap .close-area {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
[data-script-enabled=true] .js-modal-content.is-active .modal-wrap .close-area > .btn-close {
  position: absolute;
  top: -35px;
  right: 0;
  font-size: 0;
  border-radius: 10000px;
  padding: 13px;
  transition: 0.3s;
}
[data-script-enabled=true] .js-modal-content.is-active .modal-wrap .close-area > .btn-close::before, [data-script-enabled=true] .js-modal-content.is-active .modal-wrap .close-area > .btn-close::after {
  display: block;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 15px;
  height: 2px;
  transition: 0.3s;
}
[data-script-enabled=true] .js-modal-content.is-active .modal-wrap .close-area > .btn-close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
[data-script-enabled=true] .js-modal-content.is-active .modal-wrap .close-area > .btn-close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
@media print, screen and (max-width: 768px) {
  [data-script-enabled=true] .js-modal-content.is-active .modal-wrap > .modal {
    width: calc(100% - 20px);
  }
}

.js-modal-hook {
  position: relative;
}
.js-modal-hook::before {
  display: block;
  position: absolute;
  content: "";
  right: 18px;
  bottom: 18px;
  width: 16px;
  height: 16px;
}

.is-modal-fixed {
  position: fixed;
  width: 100%;
}

/* モーダル表示時のスタイル */
#js-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
}
#js-modal-overlay.is-active {
  opacity: 1;
  pointer-events: auto;
  z-index: 100;
}

[data-script-enabled=true] .js-toggle-item {
  display: block;
}
[data-script-enabled=true] .js-toggle-item + .business-items {
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
[data-script-enabled=true] .js-toggle-item.is-animation {
  animation: businessToggleAnimation 0.25s ease-in-out forwards;
}
[data-script-enabled=true] .js-toggle-item.is-animation + .business-items {
  display: block;
}
[data-script-enabled=true] .js-toggle-item.is-active + .business-items + .btn-business::before {
  transform: rotate(-45deg);
}
[data-script-enabled=true] .js-toggle-item.is-active + .business-items + .btn-business::after {
  transform: rotate(225deg);
}
[data-script-enabled=true] .js-toggle-item:not(.is-active) + .business-items {
  display: none;
}

#js-menu-circle {
  z-index: -1;
}
#js-menu-circle.is-active, #js-menu-circle.is-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}
#js-menu-circle.is-active::before, #js-menu-circle.is-close::before {
  display: block;
  position: absolute;
  content: "";
  top: 16px;
  right: 20px;
  width: 36px;
  height: 36px;
  border-radius: 10000000px;
}
#js-menu-circle.is-active::before {
  animation: menuAnimation 0.3s ease-in-out forwards;
}
#js-menu-circle.is-close::before {
  transform: scale(80);
  animation: menuCloseAnimation 0.3s 0.3s ease-in-out forwards;
}

.js-menu-status {
  color: transparent;
  font-size: 0px;
}

.js-faq-status {
  color: transparent;
  font-size: 0;
}

.is-fixed {
  position: fixed;
  width: 100%;
}

[data-script-enabled=true] .js-tab > ul > li.is-active > a {
  position: relative;
}
[data-script-enabled=true] .js-tab > ul > li.is-active > a::before {
  display: block;
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  width: calc(100% - 40px);
  height: 1px;
  transform: translate(-50%, 0);
}

.js-tab-item {
  display: block;
}
[data-script-enabled=true] .js-tab-item {
  display: none;
}
[data-script-enabled=true] .js-tab-item.is-active {
  display: block;
}

.mv__animation-01 {
  position: absolute;
  top: 0;
  left: 0;
  animation: mvAnimation 4s;
}
.mv__animation-01 > .view-item {
  display: none;
}
.mv__animation-01 > .view-item.is-display {
  display: block;
}

.mv__animation-02 {
  position: absolute;
  top: 15%;
  left: 0;
  animation: mvAnimation 4s 1s;
}
.mv__animation-02 > .view-item {
  display: none;
}
.mv__animation-02 > .view-item.is-display {
  display: block;
}

.mv__animation-03 {
  position: absolute;
  top: 30%;
  left: 0;
  animation: mvAnimation 4s 2s;
}
.mv__animation-03 > .view-item {
  display: none;
}
.mv__animation-03 > .view-item.is-display {
  display: block;
}

.mv__animation-04 {
  position: absolute;
  top: 45%;
  left: 0;
  animation: mvAnimation 4s 3s;
}
.mv__animation-04 > .view-item {
  display: none;
}
.mv__animation-04 > .view-item.is-display {
  display: block;
}

.mv__animation-05 {
  position: absolute;
  top: 60%;
  left: 0;
  animation: mvAnimation 4s 4s;
}
.mv__animation-05 > .view-item {
  display: none;
}
.mv__animation-05 > .view-item.is-display {
  display: block;
}

#js-youtube-root > ul > li .items__img > a > img {
  display: inline-block;
}
.is-fixed {
  position: fixed;
  width: 100%;
}

.is-historyfade {
  animation: menuFadeInAnimation 0.4s 0.6s ease-in-out forwards;
}

.is-fade {
  animation: menuFadeInAnimation 0.4s ease-in-out forwards;
}

.is-slide-left {
  animation: menuSlideLeftInAnimation 0.4s ease-in-out forwards;
}

.is-slide-right {
  animation: menuSlideRightInAnimation 0.4s ease-in-out forwards;
}

/*# sourceMappingURL=main.css.map*/